{% extends 'base.html.twig' %}

{% block title %}Lunamates{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=6432ac8e7e455e00129f0f3a&product=sticky-share-buttons&source=platform" async="async"></script>
<script src="/assets/js/home.js"></script>
<script src="/assets/js/dark.js"></script>
<script src="/assets/js/cookies.js"></script>
{% endblock %}

{% block body %}
{# Navbar #}
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand font-weight-bold status-menu-item" href="/home/dashboard">
    <img src="/assets/images/icon.png" width="70" height="70" class="rounded-circle d-inline-block align-center" alt="logo">
    Lunamates
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">
          <i class="fa fa-home"></i>
          Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle list" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-gear"></i>
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/profile"><i class="fa fa-user pr-2"></i>Profile</a>
          <a class="dropdown-item" id="theme"><i class="fa fa-adjust pr-2"></i>Change Theme</a>
          <a class="dropdown-item" href="/about"><i class="fa fa-info pr-2"></i>About</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link list" href="/logout">
          <i class="fa fa-sign-out"></i>
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>

{# Body content #}
<div class="main-container">
  <div class="container">
    <div class="row">
      {# Welcome message #}
      <div class="col-lg-3 col-md-6 col-sm py-3 greetbox text-center">
        <div>
          <img src="/assets/images/hello.gif" alt="hello" class="greet">
        </div>
        <div class="font-weight-bold status-menu-item">
          Priya Kumari
        </div>
        <p class="content">Our website welcomes you, find your friends here. For any help send a mail to the given mail address
          <a href="mailto:Lunamates<esha.kundu@innoraft.com>">esha.kundu@innoraft.com</a>
        </p>
      </div>

      {# Create a new post and post the same #}
      <div class="col-lg-9 col-md-6 col-sm">
        <div>
          <div class="status box">
            <div class="status-menu">
              <h2 class="album-title">Post Here</h2>
            </div>
            <form action="/post/share" method="POST" enctype="multipart/form-data">
              <div class="status-main">
                <img src="/assets/images/smile.png" class="status-img">
                <textarea name="postarea" class="status-textarea" placeholder="Write what is on your mind..."></textarea>
              </div>
              <div class="status-actions">
                <span>
                  <label for="upload">
                    <img src="/assets/images/camera.png" id="image" alt="upload photo" class="status-action"/>
                    <i id="check" class="fa fa-check text-success tick"></i>
                  </label>
                  <input type="file" id="upload" name="upload" class="uploadbtn" accept=".png, .jpg, .jpeg"/>
                </span>
                <span>
                  <label for="video" title="Upload video less than 1MB">
                    <img src="/assets/images/video.png" id="videofile" alt="add-video" class="status-action"/>
                    <i id="select" class="fa fa-check text-success tick"></i>
                  </label>
                  <input type="file" id="video" name="video" class="uploadbtn" accept=".mp4, .avi, .mov, .mpeg">
                </span>
                <input type="submit" name="submit" class="status-share" value="Share" />
              </div>
            </form>
          </div>

          {# View the post #}
          <div class="album box my-3">
            <div class="status-main">
              <img src="/assets/images/smile.png" 
              alt="profile-photo" class="status-img" />
              <div class="album-detail">
                <div class="album-title">
                  <strong>
                    Priya Kumari
                  </strong>
                </div>
                <div class="album-date">12th April 2023</div>
              </div>
            </div>
            <div class="album-content">
              <p class="m-0 p-1 album-date">Such nice weather!</p>
              <div class="album-photos">
                <img src=""
                class="album-photo" />
              </div>
              <div class="album-photos">
                  <video class="clip" controls>
                    <source src="" />
                  </video>
              </div>
            </div>
            <div class="album-actions">
              <a id="share" target="_blank"
              href="https://www.twitter.com/share?url=&text=" class="album-action">
                <i class="fa fa-share"></i>
              </a>
            </div>
          </div>
          <button id="load" class="status-share">Load More</button>
          <div class="sharethis-sticky-share-buttons"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
