{% extends 'base.html.twig' %}

{% block title %}Lunamates{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block javascripts %}
<script src="/assets/js/profile.js"></script>
<script src="/assets/js/dark.js"></script>
<script src="/assets/js/cookies.js"></script>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand font-weight-bold status-menu-item" href="/home/dashboard">
    <img src="/assets/images/icon.png" width="70" height="70" class="rounded-circle d-inline-block align-center" alt="logo">
    Lunamates
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">
          <i class="fa fa-home"></i>
          Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle list" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-gear"></i>
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/profile">Profile</a>
          <a class="dropdown-item" id="theme"><i class="fa fa-adjust pr-2"></i>Change Theme</a>
          <a class="dropdown-item" href="/home/about"><i class="fa fa-info pr-2"></i>About</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link list" href="/home/logout">
          <i class="fa fa-sign-out"></i>
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- Body content -->
<div class="main-container">
  <div class="container">
    <div class="profile">
      <!-- Profile Picture -->
      <div class="profile-avatar">
        <form action="/profile/update" method="POST" enctype="multipart/form-data">
          <div class="form-group avatar-preview">
            <img src="/assets/images/smile.png" alt="upload profile photo" class="profile-img"/>
            <label for="imageUpload">
              <span class="edit p-2"><i class="fa fa-pencil"></i></span>
            </label>
            <input type='file' id="imageUpload" name="imageUpload" class="uploadbtn" accept=".png, .jpg, .jpeg" />
          </div>
          <div class="text-center uploadbtn" id="uploadpic">
            <input type="submit" name="upload" class="btn btn-primary" value="UPDATE">
          </div>
        </form>
      </div>
      <form action="/profile/update" method="POST" enctype="multipart/form-data">
        <!-- Cover Picture -->
        <div class="form-group">
          <img src="/assets/images/camera.png" alt="upload cover photo" class="profile-cover"/>
          <label for="cover">
            <span id="add" class="addcover p-2"><i class="fa fa-plus"></i></span>
          </label>
          <input type="file" id="cover" name="cover" class="uploadbtn" accept=".png, .jpg, .jpeg" />
          <div class="coverupdate uploadbtn" id="change">
            <input type="submit" name="change" class="btn btn-primary" value="UPDATE">
          </div>
        </div>
      </form>
    </div>
    <!-- Personal details -->
    <div class="mt-2 p-4 detailsbox">
      <div class="header">
        <span class="heading">PERSONAL DETAILS</span>
        <button id="edit" class="btn btn-primary mb-2 ml-2">EDIT</button>
      </div>
      <form action="/profile/update" method="POST">
        <div class="form-group mt-2">
          <label for="name" class="profile-name pr-2">FULL NAME</label>
          <input type="text" name="name" id="name" class="input-field fields" required>
        </div>
        <div class="form-group mt-2">
          <label for="email" class="profile-name pr-2">EMAIL-ID</label>
          <input type="text" name="email" id="email" class="input-field" disabled>
        </div>
        <div class="form-group mt-2">
          <label for="birthday" class="profile-name pr-2">DATE OF BIRTH</label>
          <input type="date" name="birthday" id="birthday" class="input-field fields" required>
        </div>
        <div class="form-group mt-2">
          <span class="profile-name pr-2">GENDER</span>
          <ul class="gender">
            <li class="pr-3">
              <input type="radio" name="gender" class="select fields" value="male">
              Male
            </li>
            <li class="pr-3">
              <input type="radio" name="gender" class="select fields" value="female">
              Female
            </li>
            <li class="pr-3">
              <input type="radio" name="gender" class="select fields" value="others">
              Others
            </li>
          </ul>
        </div>
        <div class="form-group mt-2">
          <label for="place" class="profile-name pr-2">LIVES IN</label>
          <input type="text" name="place" id="place" class="input-field fields">
        </div>
        <div class="form-group mt-2">
          <label for="about" class="profile-name pr-2">ABOUT YOU</label>
          <textarea name="about" id="about" class="input-field fields">
          </textarea>
        </div>
        <div class="form-group mt-2">
          <input type="submit" name="submit" class="btn btn-info" value="SAVE">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
