<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error Occured</title>
  <link rel="icon" href="/assets/images/error.ico" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/error.css">
</head>
<body>
  <div class="error-page-container">
    <img src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/page_not_found_su7k.svg" alt="404">
    
    <h4>
      Oopps! The page you were looking doesn't exist.
    </h4>
    
    <p>
      <a href="/home/index" class="button">
        Go to home page
      </a>
    </p>
    
  </div>
</body>
</html>