<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    {# Chrome, Firefox OS and Opera #}
    <meta name="theme-color" content="#c1a3d5">
    {# Windows Phone #}
    <meta name="msapplication-navbutton-color" content="#c1a3d5">
    {# iOS Safari #}
    <meta name="apple-mobile-web-app-status-bar-style" content="#c1a3d5">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Favicon icon #}
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    {# Fontawesome link #}
    <script src="https://kit.fontawesome.com/3414b53c72.js" crossorigin="anonymous"></script>
    {# Bootstrap Link #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    {# Jquery CDN and Jquery Cookie link #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}

    {# Cookies Consent #}
    {% if not app.request.cookies.get('cookies_consent') %}
    <div class="cookie-wrapper">
      <div class="title-box">
        <i class="fa fa-cookie-bite"></i>
        <h3>Cookies Consent</h3>
      </div>
      <div class="buttons">
        <div class="info">
          <p>
            This website use cookies to help you have a superior and more relevant
            browsing experience on the website. <a href="/home/cookie"> Read more...</a>
          </p>
        </div>
        <div class="info">
          <button class="switch" id="accept">Accept</button>
        </div>
        <div class="info">
          <button class="switch" id="decline">Decline</button>
        </div>
      </div>
    </div>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
  </body>
</html>
